/* Header */

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 262px;
}
.logo-link-container {
    margin-top: 67px;
    margin-left: 132px;
}
.logo {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}
.logo-link {
    font-weight: bold;
    color: #3D37F1;
}
.logo-link-span {
    font-weight: 300;
    color: #4B647E;
}
.nav-container {
    margin-top: 87px;
    margin-right: 80px;
}
.nav-ul {
    width: 581px;
    display: flex;
    justify-content: space-between;
}
.nav-item {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3D37F1;
    text-transform: uppercase;
}


/* First section */

.first-section {
    display: flex;
    justify-content: space-between;
}
.left-block {
    margin-left: 132px;
    margin-top: 18px;
}
.left-block-top {
    width: 600px;
}
.left-block-title {
    font-family: 'Lato', sans-serif;
    font-size: 78px;
    color: #534D4D;
    margin-bottom: 42px;
}
.left-block-text {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #534D4D;
}
.first-section-btn {
    display: flex;
    align-items: center;
    width: 263.67px;
    height: 76.77px;
    border-radius: 38px;
    background-color: #3D37F1;
    margin-top: 160px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}
.first-section-btn:hover {
    background-color: #2019e2;
    cursor: pointer;
}
.first-sec-btn-img {
    margin: 0 24.7px 0 43px;
}
.first-sec-btn-text {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #fff;
}
.right-block {
    margin-right: 80px;
}
.meeting-img {
    width: 651px;
}


/* Second section */

.second-section {
    margin-top: 200px;
    margin-bottom: 133px;
}
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-container-title1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3D37F1;
    margin-bottom: 17px;
}
.title-container-title2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #5A5454;
    margin-bottom: 21px;
}
.title-container-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #747474;
    width: 712px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 67px;
}
.second-section-block {
    width: 1170px;
    margin: 0 auto;
}
.top-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.bottom-block {
    display: flex;
    justify-content: space-between;
}
.block01 {
    width: 370px;
    height: 451px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.block01:nth-child(1) {
    background-image: linear-gradient(#FBBA77, #DFA871);
}
.block01:nth-child(2) {
    background-image: linear-gradient(#41EAE3, #2293B7);
}
.block01:nth-child(3) {
    background-image: linear-gradient(#69529F, #463864);
}

.block02 {
    width: 370px;
    height: 451px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.block02:nth-child(1) {
    background-image: linear-gradient(#4386D2, #0962C5);
}
.block02:nth-child(2) {
    background-image: linear-gradient(#A5A2F6, #564FD6);
}
.block02:nth-child(3) {
    background-image: linear-gradient(#FF8088, #984141);
}

.block-img {
    width: 100px;
}
.block-description {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description-h4 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #fff;
}
.description-text {
    margin-top: 13.1px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    width: 328px;
    height: 62px;
    text-align: center;
    margin-bottom: 11px;
    line-height: 26px;
}
.block-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    margin-bottom: 48px;
    border-radius: 23px;
    width: 131px;
    height: 45px;
    cursor: pointer;
    transition: all 0.2s;
}
.button-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    transition: all 0.2s;
}


/* Hover effects */

.block-button:hover {
    background-color: #fff;
}
.block-button:hover .button-text {
    color: #000;
}